/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@500&display=swap');

/*---------------------------
 common styles or utilities
 ---------------------------*/
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

/*------------------
 Top Banner Style
-------------------- */
.top-banner {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    background-color: #1E1E1E;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 30px;
}

.banner-title {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 100px;
    width: 50%;
}

.banner-title h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.banner-title p {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 40px;
}

#button {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    background-color: #DD0000;
    border-radius: 5px;
}

.banner-img {
    width: 300px;
    height: 100%;
    margin-left: 30px;
}

/*-----
main
------*/
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/*----------------
button area style
------------------*/
.button-area {
    margin-left: 5%;
    background: #1E1E1E;
    padding: 30px 25px;
    height: 15%;
    border-radius: 10px;
}

.button-area a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 400;
    margin: 10px 5px;
    background-color: white;
    border-radius: 10px;
    padding: 7px 15px;
}

#match-button {
    color: white;
    background-color: #DD0000;
}

#group-button {
    padding: 7px 45px;
}

#blog-button {
    padding: 7px 60px;
}

/*-----------------
 flag area styles
-------------------*/
.upcoming-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-left: 20px;
}

.box {
    width: 220px;
    margin: 10px;
    margin-left: 5px;
    border: 2px solid #b9b9b92d;
    border-radius: 10px;
    padding: 15px 7px;
}

.flag {
    display: flex;
    justify-content: center;
}

#germany-flag {
    width: 30%;
    padding: 10px 10px;
}

#france-flag {
    width: 30%;
    padding: 10px 10px;
}

.match-info {
    text-align: center;
}

/*--------------
footer styles
---------------*/
footer {
    background: #161616;
    padding: 40px;
}

footer h1 {
    color: white;
    margin: 50px;
    margin-left: 50%;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-info h6 {
    color: #B9B9B9;
    font-weight: 500;
    margin-left: 35px;
    margin-bottom: 35px;
}

.icons {
    margin-left: 45%;
}

.icons a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}